ThirdParty/* linguist-vendored
CMakeLists.txt linguist-vendored
Assets/* linguist-vendored
Docs/* linguist-vendored
.doxyfile linguist-vendored
*.rc linguist-vendored
*.inl linguist-language=C++
*.h linguist-language=C++